



body{
	font-family: "Poppins" ,sans-serif;

}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}



/* header */
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index:1;

}
.header__row {
	min-height: 80px;
	display: flex;
	justify-content:space-between;
	align-items: center;
}


@media(max-width: 360px){
	.header__row{
		flex-direction: column;
	}
}
/* /header */


/* hero */
.hero {
	position: relative;
	background: url(../img/content/hero-bg.jpg) center no-repeat;
	background-size: cover;

	
}

.hero__info {
	height: 100vh;
	max-width: 600px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__subtitle {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 22px;
}
.hero__title {
	font-size: 60px;
	line-height: 74px;
	margin-bottom: 24px;
}
.hero__text {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 45px;
}
.hero__btn {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	transition: all .4s linear;
}
.hero__btn:hover{
	color: #ffd723;
	text-decoration: underline;
}
@media(max-width: 700px){
	.hero__subtitle {
		font-size: 11px;
		line-height: 15px;
		margin-bottom: 10px;
	}
	.hero__title {
		font-size: 40px;
		line-height: 45px;
		margin-bottom: 15px;
	}
	.hero__text {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 20px;
	}
}
/* /hero */


/* services */
.services {
	background-color: #f2f2f2;
	padding: 150px 0 325px 0;
}

.services__title {
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	color: #4d533c;
	max-width: 610px;
	margin-bottom: 60px;
}
.services__row {
	display: flex;
	margin: 0 -15px;
}
.services__item {
	flex: 0 1 25%;

}
.item-services {
	padding: 0 15px;
}
.services__card{
	padding: 27px 30px 35px; 

	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.item-services__title {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
	margin-bottom: 20px;
	color:#4D533C;
}
.item-services__text {
	font-size: 14px;
	line-height: 26px;
	color: #213842;
	margin-bottom: 30px;
	flex: 1 1 auto;
}
.item-services__btn {
	font-size: 16px;
	line-height: 24px;
	color: #D4D6D4;
}
.item-services__btn:hover{
	color: #FFD723;
	text-decoration: underline;
}
@media(max-width:996px){
	.services__row{
		flex-wrap: wrap;
	}
	.services__item{
		flex: 0 1 50%;
	}
	.services{
		padding: 70px 0 155px 0;
	}
}
@media(max-width: 700px){
	.services__title{
	
			font-size: 26px;
			line-height: 30px;
			margin-bottom: 30px;
	}
	.services__card{
		padding: 0; 
	}
	.services__item{
		flex: 0 1 100%;
	}
	.services{
		padding: 30px 0 100px 0;
	}
	.item-services__title{
		margin-top: 10px;
	}
	.item-services__text{
		margin-bottom: 5px;
	}
	.item-services__btn{
		margin-bottom: 20px;
	}
}

/* /services */


/* amazing */
.amazing {
	background: #FAFAFA;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
	padding: 70px 0;
	width: 80%;
	position: absolute;
	top: -170px;

}
.amazing__text {
	font-size: 60px;
	line-height: 74px;
	font-weight: 700;
	color: #4d533c;
	max-width: 822px;
	margin-bottom: 50px;
	margin-left: 380px;
}
.amazing__btn {
	color: #D4D6D4;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	transition: all .4s linear;
	margin-left: 390px;
}
.amazing__btn:hover{
	color: #FFD723;
	text-decoration: underline;
}
/* /amazing */

.footer{
	position: relative;
	background: #4F553D  url(../img/content/footer-bg.png) bottom no-repeat; 
	padding: 250px 0 30px 0px;
}
.footer__seperator{
	width: 100%;
	height: 1px;
	background-color: #5D6544;
}

.footer__contacts {
	margin-bottom: 50px;
}
.contacts-footer {
	display: flex;
	gap: 100px;
}


.contacts-footer__descr {
	font-size: 16px;
	line-height: 40px;
	color: #B6C197;
	margin-bottom: 10px;
}
.contacts-footer__info {
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
}



.footer__nav {
	margin-top: 50px;
	margin-bottom: 60px;
}
.nav-footer {
	display: flex;
	justify-content: space-between;
}
.nav-footer__items{
	flex: 0 1 80%;
	display: flex;

	gap: 100px	;
}
.nav-footer__items::after{
	content: "";
	width: 2px;
	height: 100%;
	background-color: #5D6544;
}

.nav-footer__title {
	font-size: 16px;
	line-height: 36px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
	text-transform: uppercase;
}


.nav-footer__link {
	color: #B6C197;
	font-size: 16px;
	line-height: 40px;
	transition: all .4s linear;
}
.nav-footer__link:hover{
	color: #ffd723;
	text-decoration: underline;
}
.nav-footer__social {
	flex: 0 1 20%;
}
.nav-footer__text {
	color: #B6C197;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 25px;
}
.nav-footer__email{
	display: block;
	color: #fff;
	font-size: 24px;
	line-height: 38px;
	font-weight: 700;
	margin-bottom: 25px;
}
.nav-footer__social-items {
	display: flex;
	gap:15px;
}
.nav-footer__social-item{
	display: inline-block;
	background-color: #444A34;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	position: relative;
	transition: all .4s linear;
}
.nav-footer__social-item i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #5E6648;
	transition: all .4s linear;
}
.nav-footer__social-item:hover{
	background-color: #FFD723;
}
.nav-footer__social-item:hover.nav-footer__social-item i{
	color: #fff;
}

.footer__copy {
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
}

.footer__text {
	align-self: flex-end;
	color: #B5C096;
	font-size: 14px;
	line-height: 21px;
}

@media(max-width:1330px){
	.amazing {
		padding: 50px 0;
		width: 100%;
	}
	.amazing__text {
		font-size: 40px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 30px;
	}
}
@media(max-width:1130px){
	.footer{
		padding: 150px 0 30px 0px;
	}
	.nav-footer{
		flex-wrap: wrap;
	}
	.nav-footer__items{
		flex: 1 1 100%;
		justify-content: space-around;
	}
	.nav-footer__items::after{
		display: none;
		gap: 50px;
	}
	.nav-footer__social{
		margin-top: 20px;
		flex: 1 1 auto;
		text-align: center;
	}
	.nav-footer__social-items{
		justify-content: center;
	}
}

	@media(max-width: 860px){
		.footer{
			padding: 70px 0 30px 0px;
		}
		.amazing{
			text-align: center;
		}
		.amazing__text{
			font-size: 30px;
			line-height: 35px;
			margin-left: 0;
		
		}
		.amazing__btn{
			margin-left: 0;
		}
	}
	@media(max-width: 725px){
		.amazing {
		
			padding: 20px 0;
			position: absolute;
			top: -100px;
		
		}
		.amazing__text {
			font-size: 25px;
			line-height: 27px;
			margin-bottom: 20px;
		}

	}

	@media(max-width: 640px){
		.contacts-footer {
			text-align: center;
			gap: 30px;
			flex-direction: column;
			align-items: center;
		}

		.nav-footer__items{
			gap: 20px;
			flex-wrap: wrap;
		}

		.footer__copy{
			flex-direction: column;
			
		}
		.footer__logo{
			align-self: center;
		}
		.footer__text{
			align-self: center;
		}
		.nav-footer__email{
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 15px;
		}
	}